<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <div class="meta">
    by {{user.username}} on {{format_date created_at}}
    |
    <span>{{comments.length}} {{format_plural "Update" comments.length}}</span>
  </div>
  <p>{{post_content}}</p>
</article>